
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Relatórios</h2>
<div class="container">
    <br />
    <div class="row">
        <div class="form-horizontal col-md-12">
            <div class="row" style="align-self:center">
                <div class="form-group col-md-3">
                    <h4>Tipo:</h4>
                    <select class="form-control" name="txttipo">
                        <option value="0">Clientes x Veículos</option>
                        <option value="1">Ordens de Serviço x Colaborador</option>
                        <option value="2">Fornecedores x Produtos</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <h4>Período inicial:</h4>
                    <input type="date" id="txtrel" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <h4>Período final:</h4>
                    <input type="date" id="txtrel" class="form-control" />
                </div>
                <div class="form-group col-md-5">
                    <button class="btn btn-success mdi mdi-book-multiple" style="margin-right:25%; width:50%" onclick="Gerar()" id="btncadastro">
                        Gerar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        function Gerar() {
            var tipo = $("#txttipo").val();
            $.ajax({
                type: "POST",
                url: "/Relatorio/Gerar",
                data: tipo,
                success: function () {
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
    </script>
}