
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Relatórios</h2>
<div class="row">
    <div class="col-md-6">
        <br />
        <select class="form-control">
            <option value="0">Clientes</option>
            <option value="1">Veículos</option>
            <option value="2">Ordens de Serviço</option>
            <option value="3">Fornecedores</option>
            <option value="4">Produtos</option>
            <option value="5">Colaborador</option>
        </select>

    </div>

</div>
