################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Oficina.Com/.vs/Oficina.Com/v15/Server/sqlite3
