
@{
    ViewBag.Title = "ConsultarFornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConsultarFornecedor</h2>

<div class="alert-messages text-center">
</div>
<br />
<a href="" onclick="modalcreate" data-toggle="modal" data-target="#modalExemplo">
    <span class="mdi mdi-account btn btn-success"> Nova Fornecedor</span>
</a>
<hr />
<div class="col-md-12">

    <table class="table table-striped table-bordered" cellspacing="0" id="tbconsulta" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Razão</th>
                <th>Cnpj</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Endereço</th>
            </tr>
        </thead>
        <tbody>
            <!-- Percorrer o conteudo da lista.. -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="#" class="mdi mdi-pencil btn btn-success" style="width:auto" data-toggle="modal" data-target="#modaledit">Editar</a>
                    <a href="#" class="mdi mdi-note  btn btn-success" data-toggle="modal" data-target="#modaldetalhes">Detalhes</a>
                    <a href="#" class="mdi mdi-delete btn btn-danger" onclick="" data-toggle="modal" data-target="#modaldelete"></a>
                </td>
            </tr>

        </tbody>
        <tfoot>
            @*<tr>
                    <td colspan="5">Quantidade de clientes: @Model.Count() </td>
                </tr>*@
        </tfoot>
    </table>
</div>