
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png"> <!--Modificar !!!-->
    <title>Oficina.com</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/datatable.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/CustomCss/style.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="~/Content/CustomCss/colors/blue.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">


    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    <div id="main-wrapper">

        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">

                <div class="navbar-header">
                    <a class="navbar-brand" href="~/Home/Index">
                        <img src="~/Assets/images/logo1.PNG" alt="homepage" class="light-logo" />
                    </a>
                </div>

                <div class="navbar-collapse">

                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>

                        <li class="nav-item hidden-sm-down search-box">
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>

                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/users/vini.jpg" alt="user" class="profile-pic m-r-10" />Vinicius</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a class="waves-effect waves-dark" href="~/Home/Index" aria-expanded="false"><i class="mdi mdi-home"></i><span class="hide-menu">Início</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="~/Cliente/Consulta" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Clientes</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="~/Veiculo/ConsultarVeiculo" aria-expanded="false"><i class="mdi mdi-car"></i><span class="hide-menu">Veículos</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="~/Ordem/ConsultarOrdem"><i class="mdi mdi-note"></i><span class="hide-menu">Ordens de Serviço</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="~/Fornecedor/ConsultarFornecedor"><i class="mdi mdi-truck"></i><span class="hide-menu">Fornecedores</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="~/Produto/ConsultarProduto"><i class="mdi mdi-paperclip"></i><span class="hide-menu">Produtos</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="~/Relatorio/Consulta" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Relatórios</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="~/Colaborador/Consulta" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Colaboradores</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="~/Account/Register" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Usuários</span></a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="waves-effect waves-dark" href="~/Account/LogOff" aria-expanded="false"><i class="mdi mdi-logout"></i><span class="hide-menu">Sair</span></a>
                            </li>
                        }
                        @*<li>

        </li>*@
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <div class="sidebar-footer">
                <a href="" class="hide-menu" data-toggle="tooltip" title="Página"><i class="ti-facebook"></i>acebook</a>


            </div>
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Início</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-block">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer" style="text-align:center">
                © 2019 - Oficinas.com
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>


    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    @*<script src="~/Assets/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    @*<script src="~/Assets/plugins/bootstrap/js/tether.min.js"></script>*@
    <script src="~/Scripts/datatable.js"></script>

    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Scripts/CustomJs/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Scripts/CustomJs/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Scripts/CustomJs/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/Assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Scripts/CustomJs/custom.min.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>
