
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consulta</h2>
<hr />
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome:</th>
                <th scope="col">Veículo</th>
                <th scope="col">Última Visita</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Carlos</td>
                <td>Celta</td>
                <td>10/05/2019</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Antônio</td>
                <td>Vectra</td>
                <td>02/06/2019</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Luísa</td>
                <td>Ford Ká</td>
                <td>22/10/2019</td>
            </tr>
        </tbody>
    </table>

</div>

